@media (max-width: 900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }
    #page-home header a{
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }
    #page-home main{
        align-items: center;
    }  
    #page-search-results .cards{
        grid-template-columns: 1fr;
    }

    #page-search-results .cards img{
        height: 250px;
    }
}
@media (min-width: 1440px){
    #page-home{
        background-position-x: 40vw;
    }
}
@media (max-height: 760px){
    #page-home{
        background-position-y: 100px;
    }
}
@media (max-width: 420px){
    #page-home main h1{
        font-size: 45px;
    }
    #page-home main p{
        font-size: 20px;
    }
}
@media (max-height: 800px){
    #page-home main h1{
        font-size: 40px;
    }
    #page-home main p{
        font-size: 15px;
        margin-top: 20px;
    }
    #page-home header
    {
        margin-top: 25px;
    }

    #page-home main a{
        width: 100%;
        max-width: 300px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
    
        font-size: 13px;
        margin-top: 20px;
        background: var(--primary-color);
    
        transition: 400ms;
        color: white;
    }
    #page-home main a span{
        width: 60px;
        height: 60px;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
    #page-home header a span{
        width: 20px;
        height: 20px;
        
    }
}
@media (max-width: 425px){
    #page-home header a span{
        width: 25px;
        height: 20px;
    }
}